 @media all and (max-width:1000px){
    header #contact{
        visibility: hidden;
        height: 0;
    }

    header{
        display: grid;
        grid-template-areas: 'picture text';
        grid-template-columns: 1fr 4fr;
    }

    header picture{
        grid-area: picture;
    }

    header #head-text{
        justify-self: center;
        grid-area: text;
    }
}

@media all and (max-width:700px){
    #under-header{
        display: flex;
        flex-direction: column;
    }
    #under-header #right-aside aside h2{
        font-size: 1.65em;
        /* font-weight: bold;
        font-family: "SF Pro Semibold", sans-serif; */
    }
    #right-aside{
        padding: 0 2.5rem;
    }

    #right-aside #competences{
        width: 100%;
    }
    #right-aside #competences #progress-bars{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-bottom: 25px;
    }
    #right-aside #competences label,
    #right-aside #competences progress{
        margin: 0 15px 0 0;
    }
    #right-aside #competences progressbar{
        margin-bottom: 10px;
    }

    #right-aside #resp-my-infos{
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    #right-aside article{
        /* text-align: center; */
        width: 40%;
        height: 80%;
    }

    #right-aside article {
        padding:15px;
        border-radius: 5px;
        border: 1px solid rgba(240,248,255,0.3);
        background-color: rgba(240,248,255,0.05);
    }

    #right-aside article h2{
        align-self: center;
    }
}